<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

	<servlet>
		<servlet-name>lineListServlet</servlet-name>
		<servlet-class>eu.hellek.gba.server.rpc.admin.LineListServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>listPointsServlet</servlet-name>
		<servlet-class>eu.hellek.gba.server.rpc.ListPointsServiceImpl</servlet-class>
	</servlet>
		<servlet>
		<servlet-name>getPointsServlet</servlet-name>
		<servlet-class>eu.hellek.gba.server.rpc.GetPointsServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>remoteApi</servlet-name>
		<servlet-class>com.google.apphosting.utils.remoteapi.RemoteApiServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>remoteServlet</servlet-name>
		<servlet-class>eu.hellek.gba.server.TaskQueue.RemoteServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>loginServlet</servlet-name>
		<servlet-class>eu.hellek.gba.server.rpc.servlets.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>addFavoriteServlet</servlet-name>
		<servlet-class>eu.hellek.gba.server.rpc.servlets.AddFavoriteServlet</servlet-class>
	</servlet>	
	<servlet>
		<servlet-name>removeFavoriteServlet</servlet-name>
		<servlet-class>eu.hellek.gba.server.rpc.servlets.RemoveFavoriteServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>directSearchServlet</servlet-name>
		<servlet-class>eu.hellek.gba.server.rpc.servlets.DirectSearchServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>indirectSearchServlet</servlet-name>
		<servlet-class>eu.hellek.gba.server.rpc.servlets.IndirectSearchServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>sessioncleanup</servlet-name>
		<servlet-class>com.google.apphosting.utils.servlet.SessionCleanupServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>WarmUp</servlet-name>
		<servlet-class>eu.hellek.gba.server.servlet.WarmUp</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
			
	<servlet-mapping>
		<servlet-name>lineListServlet</servlet-name>
		<url-pattern>/admin_interface/getLines</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>listPointsServlet</servlet-name>
		<url-pattern>/admin_interface/listPoints</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>listPointsServlet</servlet-name>
		<url-pattern>/colectivos/listPoints</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>listPointsServlet</servlet-name>
		<url-pattern>/mobile/listPoints</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>getPointsServlet</servlet-name>
		<url-pattern>/admin_interface/getPoints</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>getPointsServlet</servlet-name>
		<url-pattern>/colectivos/getPoints</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>getPointsServlet</servlet-name>
		<url-pattern>/mobile/getPoints</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>remoteApi</servlet-name>
		<url-pattern>/remote_api</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>remoteServlet</servlet-name>
		<url-pattern>/rm/RemoteServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>loginServlet</servlet-name>
		<url-pattern>/rm/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>addFavoriteServlet</servlet-name>
		<url-pattern>/rm/AddFavoriteServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>removeFavoriteServlet</servlet-name>
		<url-pattern>/rm/RemoveFavoriteServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>directSearchServlet</servlet-name>
		<url-pattern>/rm/DirectSearchServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>indirectSearchServlet</servlet-name>
		<url-pattern>/rm/IndirectSearchServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>sessioncleanup</servlet-name>
		<url-pattern>/_ah/sessioncleanup</url-pattern>
	</servlet-mapping>
		
	<welcome-file-list>
		<welcome-file>Colectivos.html</welcome-file>
	</welcome-file-list>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Admin</web-resource-name>
			<url-pattern>/AdminInterface.html</url-pattern>
			<url-pattern>/admin_interface/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>remoteApi</web-resource-name>
			<url-pattern>/remote_api</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>taskQueue</web-resource-name>
			<url-pattern>/tasks/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>AppStats</web-resource-name>
			<url-pattern>/appstats/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>
	
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>SessionCleanup</web-resource-name>
			<url-pattern>/_ah/sessioncleanup</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>

</web-app>
